<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Table 1: company data</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
    <a th:href="@{/}">Home Page</a>
    <p>
        <a th:if="${pageNumber > 1}"  th:href="@{/datatables/table1/1}">First</a>
        <span th:unless="${pageNumber > 1}">First</span>

        <a th:if="${pageNumber > 1}"  th:href="@{'/datatables/table1/' + ${pageNumber - 1}}">Previous</a>
        <span th:unless="${pageNumber > 1}">Previous</span>

        <a th:if="${pageNumber < numPages}"  th:href="@{'/datatables/table1/' + ${pageNumber + 1}}">Next</a>
        <span th:unless="${pageNumber < numPages}">Next</span>

        <a th:if="${pageNumber < numPages}"  th:href="@{'/datatables/table1/' + ${numPages}}">Last</a>
        <span th:unless="${pageNumber < numPages}">Last</span>
    </p>

    <table id="table1">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Ticker</th>
                <th>EBIT</th>
                <th>Total Debt</th>
                <th>Preferred Stock Value</th>
                <th>Noncontrolling Interest Value</th>
                <th>Cash and Cash Equivalents</th>
                <th>Fiscal Year</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="rec : ${recordList}">
                <td th:text="${rec.companyName}">companyName</td>
                <td th:text="${rec.ticker}">ticker</td>
                <td th:text="${rec.ebit}">ebit</td>
                <td th:text="${rec.totalDebt}">totalDebt</td>
                <td th:text="${rec.preferredStockValue}">preferredStockValue</td>
                <td th:text="${rec.noncontrollingInterestValue}">noncontrollingInterestValue</td>
                <td th:text="${rec.cashAndCashEquivalentsValue}">cashAndCashEquivalentsValue</td>
                <td th:text="${rec.fiscalYear}">fiscalYear</td>
            </tr>
        </tbody>
    </table>
    <p>
        <a th:if="${pageNumber > 1}"  th:href="@{/datatables/table1/1}">First</a>
        <span th:unless="${pageNumber > 1}">First</span>

        <a th:if="${pageNumber > 1}"  th:href="@{'/datatables/table1/' + ${pageNumber - 1}}">Previous</a>
        <span th:unless="${pageNumber > 1}">Previous</span>

        <a th:if="${pageNumber < numPages}"  th:href="@{'/datatables/table1/' + ${pageNumber + 1}}">Next</a>
        <span th:unless="${pageNumber < numPages}">Next</span>

        <a th:if="${pageNumber < numPages}"  th:href="@{'/datatables/table1/' + ${numPages}}">Last</a>
        <span th:unless="${pageNumber < numPages}">Last</span>
    </p>
    <a th:href="@{/}">Home Page</a>


</body>

</html>